extends layout
block content
html
  body
    .wrapper.row1
      header#header.clear
        #hgroup
          h1
            a(href='#') Basic 84
          h2 Free HTML5 Website Template
        form(action='#', method='post')
          fieldset
            legend Search:
            input(type='text', value='Search Our Website…', onfocus="this.value=(this.value=='Search Our Website…')? '' : this.value ;")
            input#sf_submit(type='submit', value='submit')
        nav
          ul
            li
              a(href='#') Text Link
            li
              a(href='#') Text Link
            li
              a(href='#') Text Link
            li
              a(href='#') Text Link
            li.last
              a(href='#') Text Link
    // content
    .wrapper.row2
      #container.clear
        // content body
        section#slider
          a(href='#')
            img(src='images/demo/960x360.gif', alt='')
        section#shout
          p
            | Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt namjusto cras urna.
        // main content
        #homepage
          // services area
          h1 Services We Offer
          section#services.clear
            article
              figure
                img(src='images/demo/32x32.gif', width='32', height='32', alt='')
              strong Lorum ipsum dolor
              p
                | This is a W3C compliant free website template from
                a(href='http://www.os-templates.com/', title='Free Website Templates') OS Templates
                | . For full terms of use of this template please read our
                a(href='http://www.os-templates.com/template-terms') website template licence
                | .
              p.more
                a(href='#') Read More »
            article
              figure
                img(src='images/demo/32x32.gif', width='32', height='32', alt='')
              strong Lorum ipsum dolor
              p
                | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.
              p.more
                a(href='#') Read More »
            article.last
              figure
                img(src='images/demo/32x32.gif', width='32', height='32', alt='')
              strong Lorum ipsum dolor
              p
                | For more HTML5 templates visit
                a(href='http://www.os-templates.com/') free website templates
                | . Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum.
              p.more
                a(href='#') Read More »
          // / services area
          // ##########################################################################################
          // ##########################################################################################
          // ##########################################################################################
          // ##########################################################################################
          // One Quarter
          h1 Latest From The Gallery
          section#latest.last.clear
            article.one_quarter
              figure
                img(src='images/demo/215x315.gif', width='215', height='315', alt='')
                figcaption Image Caption Here
            article.one_quarter
              figure
                img(src='images/demo/215x315.gif', width='215', height='315', alt='')
                figcaption Image Caption Here
            article.one_quarter
              figure
                img(src='images/demo/215x315.gif', width='215', height='315', alt='')
                figcaption Image Caption Here
            article.one_quarter.lastbox
              figure
                img(src='images/demo/215x315.gif', width='215', height='315', alt='')
                figcaption Image Caption Here
          // / One Quarter
        // / content body
    // Footer
    .wrapper.row3
      footer#footer.clear
        p.fl_left
          | Copyright © 2012 - All Rights Reserved -
          a(href='#') Domain Name
        p.fl_right
          | Template by
          a(href='http://www.os-templates.com/', title='Free Website Templates') OS Templates

