extends layout2

block content
  .wrapper.row2
    #container.clear
      // Slider
      section#slider.clear
        figure
          img(src='../site/img/animeImage.gif', alt='')
          figcaption
            h2 A Loss That Will Be Remembered
            p
              | Christina Victoria Grimmie was an extremely talented American singer and songwriter whose bright future was cut short by a deranged, mentally sick, pathetic, 27 year old man, Kevin James Loibl.  She was taken from the world, much too soon.  She will be missed dearly.
            footer.more
              a(href='https://en.wikipedia.org/wiki/Death_of_Christina_Grimmie') Read More »
      // main content
      #intro
        section.clear
          // article 1
          article.two_quarter
            h2 Celebrating the Life of Christia Grimmie
            p This page was created to honor and celebrate the life of Christia Grimmie as well as keep a record of her dedication and commitment to her art, to her fans, and for all who loved her and wishes more than anything to have prevented the tragic end that came to be.
          // article 2
          article.two_quarter.lastbox
            figure
              ul.clear
                li
                  a.icon(title='https://www.youtube.com/embed/bRGOAeC_Vhg' href='')
                    img(src='../site/img/icon1.jpg', width='130', height='130', alt='')
                li
                  a.icon(title='https://www.youtube.com/embed/QfifaWeiem4' href='')
                    img(src='../site/img/icon2.png', width='130', height='130', alt='')
                li.last
                  a.icon(title='https://www.youtube.com/embed/3290550YVog' href='')
                    img(src='../site/img/icon3.jpg', width='130', height='130', alt='')
              figcaption
                a(href='#') View Other Video/Music Performed by Christia Grimmie
      // ##########################################################################################
      // ##########################################################################################
      // ##########################################################################################
      // ##########################################################################################
      #homepage.last.clear
        section.one_quarter
          h2.title From The Blog
          article
            header
              h2 Post Title
              address
                a(href='#') Admin
                | , domainname.com
              time(datetime='2000-04-06')
                | Friday, 6
                sup th
                |  April 2000
            p
              | Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet.
            footer.more
              a(href='#') Read More »
        section.one_quarter
          h2.title Quick Links
          nav
            ul
              li
                a(href='#') Lorem ipsum dolor sit
              li
                a(href='#') Amet consectetur
              li
                a(href='#') Praesent vel sem id
              li
                a(href='#') Curabitur hendrerit est
              li.last
                a(href='#') Sed a nulla urna
        section.two_quarter.lastbox
          h2.title About US
          img.imgl(src='images/demo/130x130.gif', width='130', height='130', alt='')
          p
            | Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit.
          footer.more
            a(href='#') Read More »
      // / content body
  // Footer
  .wrapper.row3
    footer#footer.clear
      p.fl_left
        | Copyright © 2012 - All Rights Reserved -
        a(href='#') Domain Name
      p.fl_right
        | Template by
        a(href='http://www.os-templates.com/', title='Free Website Templates') OS Templates