extends layout2
block content
  section#cd-timeline.cd-container
        .cd-timeline-block
          .cd-timeline-img.cd-picture
            img(src='img/cd-icon-picture.svg', alt='Picture')
          // cd-timeline-img
          .cd-timeline-content
            h2 March 12 1994
            img.croppedPhoto(src='../site/img/babyChristina.jpg' alt='babyPic' align='left' style='width: 130px; height: 130px')
            p.textwrap Christina Victory Grimmie was born into the loving Grimmie family: Tina Grimmie (Mother), Albert Grimmie (Father), Mark Grimmie (Brother).  At a very early age, she showed a great affinity to music and started singing consistently around the age of four.
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-movie
            img(src='img/cd-icon-movie.svg', alt='Movie')
          // cd-timeline-img
          .cd-timeline-content
            h2 Early Life
            img.croppedPhoto(src='../site/img/familyPic.jpg' alt='familyPic' align='left' style='width: 280px; height: 220px')
            p.textwrap At the age of ten, Christina received a piano and took piano lessons.  Even without her lessons, Christina was affluent with playing by ear.  She also learned to play the guitar, drums, and flute; solidifying her music background.
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 Christian Faith
            img.croppedPhoto(src='../site/img/jesus.jpg' alt='jesus' align='right' style='width: 200px; height: auto')
            p.textwrap Grimmie was raised a devout Christian and never shyed away from professing her belief in Jesus Christ as she would often remind her fans of her convictions.  "I'm a full-on Christian, by the way. Jesus is my Savior and I looove Him and sing for Him."
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-picture
            img(src='img/cd-icon-picture.svg', alt='Picture')
          // cd-timeline-img
          .cd-timeline-content
            h2 A Gamer?
            img.croppedPhoto(src='../site/img/gamer.jpg' alt='gamer' align='right' style='width: 260px; height: auto')
            p.textwrap Most people only know Christina through her performances and her music career, but she was also an avid gamer.  She was obsessed with the game, The Legend of Zelda, and even made her YouTube handle 'zeldaxlove64' back in 2009.
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 November Summoner Con
            img.croppedPhoto(src='../site/img/ahri.jpg' alt='ahri' align='right' style='width: 150px; height: auto')
            p.textwrap She was also a League of Legends player who mained the Mid and ADC role.  She cosplayed as Ahri from LOL and would also stream her games on twitch.tv.
            a.trigger-hidden(title='http://elotalk.com/culture/gaming-community-loses-christina-grimmie/' href='') Tori Lac's Article
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 Early Career
            img.croppedPhoto(src='../site/img/youtubeHome.jpg' alt='youtubeHome' align='right' style='width: 290px; height: auto')
            p.textwrap Christina started her debut as a You Tube performer when her friend, Lauren, talked her into uploading a video of her doing a cover.  On July 17th 2009, Christina uploaded a video of her singing "Don't Wanna Be Torn" from the hit show "Hanna Montana".
            a.icon(title='https://www.youtube.com/embed/BEH6cFFYhbc' href='') Don't Wanna Be Torn" by Hanna Montana
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 Path to Fame
            img.croppedPhoto(src='../site/img/partyUSA2.png' alt='partyUSA' align='right' style='width: 250px; height: auto')
            p.textwrap Within a month after her first cover of "Don't Wanna Be Torn", Christina took her first step to stardom with her new cover of Miley Cyrus' "Party in the USA".  With present view count of over 12 million, this video allowed her to gain some publicity as well as recognition of her talents by the YouTube community.
            a.icon(title='https://www.youtube.com/embed/Mcj_Iitf9w4' href='') Party in the USA
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 Popular YT Performances
            img.croppedPhoto(src='../site/img/youtubeHIT.jpg' alt='youtubeHIT' align='right' style='width: 280px; height: auto')
            p.textwrap Party in the USA was just the beginning as Christina kept honing her talents and becoming a minor celebrity in the YouTube community.  Most of her releases reached view count of more than a million per video.  Christina was just getting started!
            a.icon(title='https://www.youtube.com/embed/pWZ70lplIj0' href='') Cascada - Everytime We Touch
            br
            a.icon(title='https://www.youtube.com/embed/0RYWViHBZg4' href='') Christina Aguilera - Hurt
            br
            a.icon(title='https://www.youtube.com/embed/yuzmZS1Y8Ho' href='') Adele - Rolling in the Deep
            br
            a.icon(title='https://www.youtube.com/embed/MMy48cpTjc4' href='') Lil Wayne - How to Love
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 YouTube Competition
            img.croppedPhoto(src='../site/img/youtubecompetition.jpg' alt='youtubecompetition' align='right' style='width: 250px; height: auto')
            p.textwrap On December 6th 2010, Christina released a video announcing her invitation to the YouTube competition.  She was competing with big name stars like Selena Gomez, Justin Bieber, and Rihanna.  Despite her fierce competitors, she still placed in the top five and ranked second behind Selena Gomez; setting herself above Justin Bieber, Rihanna, and Nicki Minaj.
            a.icon(title='https://www.youtube.com/embed/twiSfWUvnCo' href='') YouTube Competition Announcement by Christina
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 Road to Stardom
            img.croppedPhoto(src='../site/img/cyrusMedley.jpg' alt='youtubecompetition' align='right' style='width: 290px; height: auto')
            p.textwrap As Christina's fan base and subscription to her channel kept growing, she gained more recognition for her vocal talents.  She was noticed by Selena Gomez's stepfather, Brian Teefey, who became interested in Christina's talents after watching several performance.  Around the time after Christina's performance of 'Miley Cyrus Medley' produced by Kurt Hugo Schneider, Brian Teefey contacted Grimmie and became her manager.
            a.icon(title='https://www.youtube.com/embed/Ua4EESKuCAs' href='') Miley Cyrus Medley
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 Start of Something Magical
            img.croppedPhoto(src='../site/img/grimmieGomez.jpg' alt='grimmieGomez' align='right' style='width: 250px; height: auto')
            p.textwrap With Brian Teefey as her manager, Christina was well on her way in releasing her own album; "Find Me" EP was released for digital download on June 14, 2011.  Although the physical album was not widely commercially released, physical albums were sold during her live performances while she toured and opened for Selena Gomez on her "We Own the Night Tour".  The album was released independent of any label and debuted at #35 on Billboard 200 chart; entering top 10 (6) for "Independent Albums" in the US.  Wanting to ensure that anyone could afford to buy her music, "Find Me" was sold at a low price of $5.99.
            a.icon(title='https://www.youtube.com/embed/Ua4EESKuCAs' href='') Miley Cyrus Medley
            br
            a.icon(title='https://www.youtube.com/embed/m36Stn7pU3E' href='') Live at UNICEF Concert - 3 songs
            br
            a.icon(title='https://www.youtube.com/embed/IzR3vzQnqZE' href='') Christina's reaction to being on radio
            br
            br
            a(href='https://itunes.apple.com/us/album/find-me/id441742002') iTunes - Buy Her Album
            br
            a(href='https://www.amazon.com/Find-Me-Christina-Grimmie/dp/B006PAA0OU') Amazon - Buy Her Album
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 Making an Appearance
            img.croppedPhoto(src='../site/img/amaAward.jpg' alt='youtubecompetition' align='right' style='width: 230px; height: auto')
            p.textwrap Christina made various appearances on popular shows and events such as "The Ellen DeGeneres Show" (Oct. 10, 2011), "39th American Music Award" (Nov. 20, 2011), Disney Channel's "So Random!" (Dec. 11, 2011), and "Dancing with the Stars" (Oct. 16, 2012).
            a.icon(title='https://www.youtube.com/watch?v=r9hvol8jNtk' href='') The Ellen DeGeneres Show - Liar Liar
            br
            a.icon(title='https://www.youtube.com/embed/9HhD49oBpRc' href='') American Music Award Weekend with Christina
            br
            a.icon(title'https://www.youtube.com/embed/iz5A44WS4EI' href='') Dancing with the Stars - Titanium
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 Signed! with Creative Artist Agency 'With Love'
            img.croppedPhoto(src='../site/img/withLove.jpg' alt='withLove' align='right' style='width: 270px; height: auto')
            p.textwrap January 2012, Christina moved to Los Angeles and signed with Creative Artist Agency as well as starring on Disney.com web show "Power Up: with Christina Grimmie" (Mar. 29, 2012 - Jun. 5, 2012) where she was able to talk about one of her favorite subject: video gaming.  Christina joined up with Selena Gomez and opened for her "Star Dance Tour" where she was able to perform songs from her upcoming second album "With Love" (Aug. 6, 2013).
            a.icon(title='https://www.youtube.com/embed/W_C5qOM4Ad4?list=PL8D21AFDA6FD5E6F4' href='') Watch Power Up - Complete Playlist
            br
            a.icon(title='https://www.youtube.com/embed/2U0_015pzNI' href='') Christina Grimmie - With Love
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src='img/cd-icon-location.svg', alt='Location')
          // cd-timeline-img
          .cd-timeline-content
            h2 The Voice 2014
            img.croppedPhoto(src='../site/img/thevoice.jpg' alt='thevoice' align='right' style='width: 290px; height: auto')
            p.textwrap During the 2014 "The Voice" competition, Grimmie auditioned for a spot by singing Miley Cyrus' "Wrecking Ball" where all four coaches, immediately, approved and turned around to receive her.  She was hotly contested after by the coaches and Grimmie eventually decided to go with Adam Levine as her coach.  She placed 3rd in the competition behind Josh Kaufman (winner) and Jake Worthington (runner-up).
            a.icon(title='https://www.youtube.com/embed/zTIfBXxgfrk' href='') The Voice - Miley Cyrus' Wrecking Ball
            br
            a.icon(title='https://www.youtube.com/embed/y-FDy03JxVc?list=PLRTt-MZzzTAZBPc69-7chIgFOYJYUFXQI' href='') The Voice - All Performances
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-movie
            img(src='img/cd-icon-movie.svg', alt='Movie')
          // cd-timeline-img
          .cd-timeline-content
            h2 Final Section
            p This is the content of the last section
            span.cd-date Feb 26
