extends layout2
block content
  section#cd-timeline.cd-container
        .cd-timeline-block
          .cd-timeline-img.cd-picture
          // cd-timeline-img
          .cd-timeline-content
            h2 March 12 1994
            img.croppedPhoto(src='../site/img/babyChristina.jpg' alt='babyPic' align='left' style='width: 130px; height: 130px')
            p.textwrap Christina Victory Grimmie was born into the loving Grimmie family: Tina Grimmie (Mother), Albert Grimmie (Father), Mark Grimmie (Brother).  At a very early age, she showed a great affinity to music and started singing consistently around the age of four.
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-movie
          // cd-timeline-img
          .cd-timeline-content
            h2 Early Life
            img.croppedPhoto(src='../site/img/familyPic.jpg' alt='familyPic' align='left' style='width: 280px; height: 220px')
            p.textwrap At the age of ten, Christina received a piano and took piano lessons.  Even without her lessons, Christina was affluent with playing by ear.  She also learned to play the guitar, drums, and flute; solidifying her music background.
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Christian Faith
            img.croppedPhoto(src='../site/img/jesus.jpg' alt='jesus' align='right' style='width: 200px; height: auto')
            p.textwrap Grimmie was raised a devout Christian and never shyed away from professing her belief in Jesus Christ as she would often remind her fans of her convictions.  "I'm a full-on Christian, by the way. Jesus is my Savior and I looove Him and sing for Him."
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-picture
          // cd-timeline-img
          .cd-timeline-content
            h2 A Gamer?
            img.croppedPhoto(src='../site/img/gamer.jpg' alt='gamer' align='right' style='width: 260px; height: auto')
            p.textwrap Most people only know Christina through her performances and her music career, but she was also an avid gamer.  She was obsessed with the game, The Legend of Zelda, and even made her YouTube handle 'zeldaxlove64' back in 2009.
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 November Summoner Con
            img.croppedPhoto(src='../site/img/ahri.jpg' alt='ahri' align='right' style='width: 150px; height: auto')
            p.textwrap She was also a League of Legends player who mained the Mid and ADC role.  She cosplayed as Ahri from LOL and would also stream her games on twitch.tv.
            a.trigger-hidden(title='http://elotalk.com/culture/gaming-community-loses-christina-grimmie/' href='') Tori Lac's Article
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Early Career
            img.croppedPhoto(src='../site/img/youtubeHome.jpg' alt='youtubeHome' align='right' style='width: 290px; height: auto')
            p.textwrap Christina started her debut as a You Tube performer when her friend, Lauren, talked her into uploading a video of her doing a cover.  On July 17th 2009, Christina uploaded a video of her singing "Don't Wanna Be Torn" from the hit show "Hanna Montana".
            a.icon(title='https://www.youtube.com/embed/BEH6cFFYhbc' href='') Don't Wanna Be Torn" by Hanna Montana
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Path to Fame
            img.croppedPhoto(src='../site/img/partyUSA2.png' alt='partyUSA' align='right' style='width: 250px; height: auto')
            p.textwrap Within a month after her first cover of "Don't Wanna Be Torn", Christina took her first step to stardom with her new cover of Miley Cyrus' "Party in the USA".  With present view count of over 12 million, this video allowed her to gain some publicity as well as recognition of her talents by the YouTube community.
            a.icon(title='https://www.youtube.com/embed/Mcj_Iitf9w4' href='') Party in the USA
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Popular YT Performances
            img.croppedPhoto(src='../site/img/youtubeHIT.jpg' alt='youtubeHIT' align='right' style='width: 280px; height: auto')
            p.textwrap Party in the USA was just the beginning as Christina kept honing her talents and becoming a minor celebrity in the YouTube community.  Most of her releases reached view count of more than a million per video.  Christina was just getting started!
            a.icon(title='https://www.youtube.com/embed/pWZ70lplIj0' href='') Cascada - Everytime We Touch
            br
            a.icon(title='https://www.youtube.com/embed/0RYWViHBZg4' href='') Christina Aguilera - Hurt
            br
            a.icon(title='https://www.youtube.com/embed/yuzmZS1Y8Ho' href='') Adele - Rolling in the Deep
            br
            a.icon(title='https://www.youtube.com/embed/MMy48cpTjc4' href='') Lil Wayne - How to Love
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 YouTube Competition
            img.croppedPhoto(src='../site/img/youtubecompetition.jpg' alt='youtubecompetition' align='right' style='width: 250px; height: auto')
            p.textwrap On December 6th 2010, Christina released a video announcing her invitation to the YouTube competition.  She was competing with big name stars like Selena Gomez, Justin Bieber, and Rihanna.  Despite her fierce competitors, she still placed in the top five and ranked second behind Selena Gomez; setting herself above Justin Bieber, Rihanna, and Nicki Minaj.
            a.icon(title='https://www.youtube.com/embed/twiSfWUvnCo' href='') YouTube Competition Announcement by Christina
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Road to Stardom
            img.croppedPhoto(src='../site/img/cyrusMedley.jpg' alt='youtubecompetition' align='right' style='width: 290px; height: auto')
            p.textwrap As Christina's fan base and subscription to her channel kept growing, she gained more recognition for her vocal talents.  She was noticed by Selena Gomez's stepfather, Brian Teefey, who became interested in Christina's talents after watching several performance.  Around the time after Christina's performance of 'Miley Cyrus Medley' produced by Kurt Hugo Schneider, Brian Teefey contacted Grimmie and became her manager.
            a.icon(title='https://www.youtube.com/embed/Ua4EESKuCAs' href='') Miley Cyrus Medley
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Start of Something Magical
            img.croppedPhoto(src='../site/img/grimmieGomez.jpg' alt='grimmieGomez' align='right' style='width: 250px; height: auto')
            p.textwrap With Brian Teefey as her manager, Christina was well on her way in releasing her own album; "Find Me" EP was released for digital download on June 14, 2011.  Although the physical album was not widely commercially released, physical albums were sold during her live performances while she toured and opened for Selena Gomez on her "We Own the Night Tour".  The album was released independent of any label and debuted at #35 on Billboard 200 chart; entering top 10 (6) for "Independent Albums" in the US.  Wanting to ensure that anyone could afford to buy her music, "Find Me" was sold at a low price of $5.99.
            a.icon(title='https://www.youtube.com/embed/Ua4EESKuCAs' href='') Miley Cyrus Medley
            br
            a.icon(title='https://www.youtube.com/embed/m36Stn7pU3E' href='') Live at UNICEF Concert - 3 songs
            br
            a.icon(title='https://www.youtube.com/embed/IzR3vzQnqZE' href='') Christina's reaction to being on radio
            br
            br
            a(href='https://itunes.apple.com/us/album/find-me/id441742002') iTunes - Buy Her Album
            br
            a(href='https://www.amazon.com/Find-Me-Christina-Grimmie/dp/B006PAA0OU') Amazon - Buy Her Album
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Making an Appearance
            img.croppedPhoto(src='../site/img/amaAward.jpg' alt='youtubecompetition' align='right' style='width: 230px; height: auto')
            p.textwrap Christina made various appearances on popular shows and events such as "The Ellen DeGeneres Show" (Oct. 10, 2011), "39th American Music Award" (Nov. 20, 2011), Disney Channel's "So Random!" (Dec. 11, 2011), and "Dancing with the Stars" (Oct. 16, 2012).
            a.icon(title='https://www.youtube.com/watch?v=r9hvol8jNtk' href='') The Ellen DeGeneres Show - Liar Liar
            br
            a.icon(title='https://www.youtube.com/embed/9HhD49oBpRc' href='') American Music Award Weekend with Christina
            br
            a.icon(title'https://www.youtube.com/embed/iz5A44WS4EI' href='') Dancing with the Stars - Titanium
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Signed! with Creative Artist Agency 'With Love'
            img.croppedPhoto(src='../site/img/withLove.jpg' alt='withLove' align='right' style='width: 270px; height: auto')
            p.textwrap January 2012, Christina moved to Los Angeles and signed with Creative Artist Agency as well as starring on Disney.com web show "Power Up: with Christina Grimmie" (Mar. 29, 2012 - Jun. 5, 2012) where she was able to talk about one of her favorite subject: video gaming.  Christina joined up with Selena Gomez and opened for her "Star Dance Tour" where she was able to perform songs from her upcoming second album "With Love" (Aug. 6, 2013).
            a.icon(title='https://www.youtube.com/embed/W_C5qOM4Ad4?list=PL8D21AFDA6FD5E6F4' href='') Watch Power Up - Complete Playlist
            br
            a.icon(title='https://www.youtube.com/embed/2U0_015pzNI' href='') Christina Grimmie - With Love
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 The Voice 2014
            img.croppedPhoto(src='../site/img/thevoice.jpg' alt='thevoice' align='right' style='width: 290px; height: auto')
            p.textwrap During the 2014 "The Voice" competition, Grimmie auditioned for a spot by singing Miley Cyrus' "Wrecking Ball" where all four coaches, immediately, approved and turned around to receive her.  She was hotly contested after by the coaches and Grimmie eventually decided to go with Adam Levine as her coach.  She placed 3rd in the competition behind Josh Kaufman (winner) and Jake Worthington (runner-up).
            a.icon(title='https://www.youtube.com/embed/zTIfBXxgfrk' href='') The Voice - Miley Cyrus' Wrecking Ball
            br
            a.icon(title='https://www.youtube.com/embed/y-FDy03JxVc?list=PLRTt-MZzzTAZBPc69-7chIgFOYJYUFXQI' href='') The Voice - All Performances
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 A Matter of Contracts?
            img.croppedPhoto(src='../site/img/levineGrimmie.jpg' alt='levineGrimmie' align='right' style='width: 280px; height: auto')
            p.textwrap Adam Levine, who coached Christina during her competition in "The Voice", expressed his intentions to sign Grimmie on with "222 Records" and sign a record deal.  Fans of Grimmie wondered why she didn't outright sign on post-"The Voice".  According to "Sawdah" from "The Real Grimmie Blog", having to sign various contracts with NBC to be on the show, there may have been conflicts that did not allow Grimmie to sign with a competing record label: Universal Music Group vs Interscope Records (222 Records).  In the end, Grimmie signed on with Island Records where she released her new single "Must Be Love".
            a.icon(title='https://www.youtube.com/embed/XQHX5xhyzA0' href='') Must Be Love
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 The Beautiful Letdown
            img.croppedPhoto(src='../site/img/lyingpose.jpg' alt='lyingpose' align='right' style='width: 290px; height: auto')
            p.textwrap Christina's new single, "Must Be Love", received mixed reviews but were generally negative.  The song did not make full use of her incredible voice and it did not seem like Island Records were interested in backing up the singer by promoting the release.  There were also other issues surrounding her signing.  There have been reports that Grimmie was concerned with pressures from various mediums to "sexualize" her and have her appear for performances "half naked".  Due to her wholesome Christian values, Christina refused and stated her rejection of having to dress a certain way to sell records.  Whether this pressure was coming from Island Records directly is speculated.
            a(href='http://www.dailyrecord.co.uk/entertainment/celebrity/voice-usa-pop-sensation-christina-5269151#vKQrseg8CuVbFvW9.97') "...why she won't get undressed to impress"
            br
            a.icon(title='https://www.youtube.com/embed/AgFtEhmxw5I' href='') Photo Shoot at Island Records
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Dropped by Island -- Still Going Strong
            img.croppedPhoto(src='../site/img/cliche.png' alt='cliche' align='right' style='width: 250px; height: auto')
            p.textwrap After the release of the single "Must Be Love", on March 4, 2015, Island Records let Grimmie off the label so she can pursue other options freely.  The reasoning for the drop, stated by Grimmie, is that the label was being over burdened by other "big names" they had obligations to.  Despite this setback, Grimmie diligently started work on her new album and released her next single "Cliche" (Mar. 16 2015).  Following "Cliche", Grimmie worked on her next single, "Stay With Me"; a collaboration with Diamond Eyes.  "Stay With Me" was overall a hit and ranked five on the iTunes Electronic Charts.
            a.icon(title='https://www.youtube.com/embed/XQHX5xhyzA0' href='') Must Be Love
            br
            a.icon(title='https://www.youtube.com/embed/d9-S5DFEPeA' href='') Grimmie on Independence
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 iHeartRadio
            h2 Third Single: "Shrug"
            img.croppedPhoto(src='../site/img/iheartradio2.jpg' alt='iheartradio' align='right' style='width: 290px; height: auto')
            p.textwrap While receiving moderate success from her newly released singles, Grimmie was also entered into the iHeartRadio/Macy's "Rising Star" contest which was designed to support unsigned/independent musicians/artists and will be featured across the nation over hundreds of radio stations.  The winner of the contest will also have the honor of performing at the iHeartRadio Music Festival in Las Vegas.  On May 27, 2015, Grimmie published on YouTube to announce and record her reaction to the news that she won the iHeartRadio/Macy's contest.  Her third single of the year, "Shrug" was released in the summer, July 2nd.
            a.icon(title='https://www.youtube.com/embed/SVpjedp89IQ' href='') Grimmie Wins iHeartRadio Contest
            br
            a.icon(title='https://www.youtube.com/embed/pLLQ_V-2n58' href='') Grimmie's Reaction to Win
            br
            a.icon(title='https://www.youtube.com/embed/ZLlTPwlcn34' href='') Remembering Christina Grimmie
            br
            a.icon(title='https://www.youtube.com/embed/9AlFh_ETWCw' href='') Grimmie Performs "Shrug" LIVE
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 "Side A" EP
            img.croppedPhoto(src='../site/img/sideAcut.jpg' alt='sideA' align='right' style='width: 280px; height: auto')
            p.textwrap On February 21, 2016, Grimmie, independently again, released her 2nd EP, "Side A".  The EP was put together with four of her original songs: "Anybody's You", "Deception", "Without Him", and "Snow White".  Writing three of the four songs, the Side A EP was produced by Grimmie herself and the theme of the songs involved her own personal struggles she was dealing with.  In an interview with "PopCrush", Grimmie stated: "Side A was a project that I wanted to do, stuff that I produced completely and it was just stuff that I was dealing with. I haven’t had a lot of “hard times” in my life until recently, so I wanted to write about those things and get them out for my fans and not even worry about genre and just make music... Side A is supposed to be a project just from my heart and whatever is happening in my heart at the time". She also started touring with Rachel Platten on her Wildfire Tour from February to March, 2016, where she was able to perform song from her newly released album.
            a.icon(title='https://www.youtube.com/embed/gnjcEZZ0HZc' href='') Vlog about Side A
            br
            a.icon(title='https://www.youtube.com/embed/zoK3tYdEvqc?list=PLm_6wve50W4eVKRzsp2a8rJBPw5Tyq62u' href='') Side A EP Playlist
            br
            a.trigger-hidden(title='http://popcrush.com/christina-grimmie-interview-side-a-the-voice-album/' href='') Interview with PopCrush
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
          // cd-timeline-img
          .cd-timeline-content
            h2 Final Performance
            img.croppedPhoto(src='../site/img/beforeExit.jpg' alt='beforeExit' align='right' style='width: 200px; height: auto')
            p.textwrap On June 10, 2016, Christina Grimmie was performing with "Before You Exit" at The Plaza Live in Orlando, Florida.  She sang a few of fan favorite like "Liar Liar" and "Without Him" from her latest EP "Side A".
            a.icon(title='https://www.youtube.com/embed/CklJyJAtvlE' href='') Clip - Liar Liar
            br
            a.icon(title='https://www.youtube.com/embed/UfHrmVK3ahY' href='') Clip - Without Him
            span.cd-date
          // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-movie
          // cd-timeline-img
          .cd-timeline-content
            h2 Final Section
            p This is the content of the last section
            span.cd-date
